body {
    font: 20px arial, sans-serif;
    line-height: 1.8;
}

p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.bg-1 {
    background-color: #1A52CC; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #607299; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #FFA37A; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #CC371A; /* Black Gray */
    color: #fff;
}
/*.container-fluid {*/
     /*padding: 0 10px 0 10px;*/
 /*}*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #3AE0FF;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.navbar-brand {
     font-weight:bold;
    font-family: arial;
    letter-spacing: normal;
    font-size: 30px;
 }

.navbar-default .navbar-nav > li > a {
    color: #777;
    letter-spacing: normal;
    font-size: 18px;
}



.panel {
    border: 1px solid;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}

.badges-container {
    border-color: #607299;
}

.leaderboard-container {
    border-color: #f4611a;
}

.checklist-container {
    border-color: #CC371A;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.badges-container .panel-footer .btn:hover {
    border: 1px solid #607299;
    background-color: #fff !important;
    color: #607299;
}

.badges-container .panel-heading {
    color: #fff !important;
    background-color: #607299 !important;
}

.leaderboard-container .panel-footer .btn:hover {
    border: 1px solid #f4611a;
    background-color: #fff !important;
    color: #f4611a;
}

.leaderboard-container .panel-heading {
    color: #fff !important;
    background-color: #f4611a !important;
}

.checklist-container .panel-footer .btn:hover {
    border: 1px solid #CC371A;
    background-color: #fff !important;
    color: #CC371A;
}

.checklist-container .panel-heading {
    color: #fff !important;
    background-color: #CC371A !important;
}

.panel-heading {
    padding: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid transparent;
}

.panel-body {
    height: 300px;
    overflow:auto;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #3288cc;
    color: #fff;
}

.leveling {
    max-width: 600px;
    height: 230px;
    padding: 0 10px;
    border: 1px solid #8ea7de;
    margin: 15px auto;
}
/*******Progress Bar ***********/
.progress {
    height: 2.5em;
}

.progress i {
    line-height: 3em;
    font-size:1.5em;
}

.progress-bar {
    transition: width 1s ease-in-out;
}

.image-wrapper {
    height: 230px;
    width: 90%;
    margin: auto;
}

.small-image-wrapper {
    height: 45px;
    width: 50%;
    margin: auto;
}

.image-container {
    width: 125px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: -10px !important;
    border: 1px solid #8ea7de;

}

.small-image-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: -10px !important;
    border: 1px solid #f4611a;
}

.small-image-container img {
    width: 100%;
}

.image-container img {
    width: 100%;
}
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.progressbar-wrapper {
    position: relative;
    height: 230px;
    width: 100%;
}

.progressbar-container {
    height: 50px;
}

.progressbar-container p {
    margin: 0;
}

@media(max-width: 410px) {
    .navbar-brand{
        font-size: 15px !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    .navbar-brand{
        font-size: 20px;
    }
    .image-container {
        width: 125px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: auto !important;
    }

    .image-wrapper {
        height: 160px;
        width: 90%;
        margin: auto;
    }

    .small-image-container {
        margin-right: auto !important;
    }

    .small-image-wrapper {
        margin: auto;
    }

    .progressbar-wrapper {
        position: relative;
        height: 50px;
        width: 100%;
    }

    .progressbar-container p {
        margin: -25px 0 0 0;;
    }

    .panel-heading {
        padding: 8px;
    }

    .checklist-table {
        width: 90% !important;
    }

    .checklist-table .panel-body p {
        font-size: 16px !important;
    }

    .panel-body {
        height: inherit;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 30px;
    }

    .navbar-brand{
        font-size: 24px;
    }

    .col-sm-4 {
        padding-right: 5px;
        padding-left: 5px;
    }
}

/*********** Checklist *********/
.striked {
    text-decoration: line-through;
}

/********* Leaderboard - Page *********/
/*.leaderboard-wrapper */
.jumbotron{
    padding: 20px 60px;
}
.top-five {
    max-width: 750px;
    /*height: 500px;*/
    padding: 0 20px;
    border: 1px solid #8ea7de;
    margin: 15px auto;
}

.top-five .progress {
    margin: 10px 0 0 0;
}

.top-five p {
    line-height: 2.5em;
}


.leaderboard-image-wrapper {
    height: 100px;
    width: 90%;
    margin: auto;
}
.leaderboard-image-container {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #8ea7de;
    /*margin-right: -10px !important;*/
}

.leaderboard-image-container img {
    width: 100%;
}

.top-five .progressbar-wrapper {
    position: relative;
    height: 100px;
    width: 100%;
}

.top-five .progressbar-container {
    height: 50px;
}

uib-progressbar b{
    font-size: 16px;
}

.leaderboard-item {
    border-bottom: 1px solid #8ea7de;
}

.leaderboard-item:last-child {
    border-bottom: 0;
}

/**********Checklist - Page ***********/
.checklist-table {
    width: 70%;
    margin: auto;

}

.checklist-table .panel-body p {
    font-size: 21px;
}

/***********badges - Page *************/

.badges-container .panel-body ul {
    margin: 0;
    padding: 0;
}
.badges-container .panel-body li {
    height: inherit;
    text-align: left;
    letter-spacing: 0;
    word-spacing: 0px;
    line-height: 100%;
}

.badges-wrapper .panel-body {
    height: inherit;
    text-align: left;
    letter-spacing: 0;
    word-spacing: 0px;
    line-height: 100%;
}

.badge-description .badge-title {
    font-style: italic;
    font-weight: bold;
    /*white-space: nowrap;*/
    margin: 0 0 0 -20px;
}

.badge-description p{
    padding: 0;
    margin: 0;
}

br {
    height: 4px;
}

.panel-body .row {
    margin-bottom: 5px;
}

.btn-simulation {
    width: 100%;
}

.chart-wrapper {
    width: 100%;
    padding : 5px;

}

.action-table-wrapper {
    border: 1px solid #8ea7de;
}

.action-table-wrapper .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 15px;
}